.Header {
  position: relative;
  background-image: url("../images/hero5.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  /*------------------------------------*\
  fixed bar
  \------------------------------------*/
  /*------------------------------------*\
  nav
  \------------------------------------*/
  /*------------------------------------*\
  title
  \------------------------------------*/ }
  .Header__top-bar {
    position: fixed;
    top: 0;
    background-color: #738396;
    width: 100%;
    z-index: 100; }
  .Header__right-bar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #738396;
    height: 100%;
    z-index: 100; }
  .Header__bottom-bar {
    position: fixed;
    bottom: 0;
    background-color: #738396;
    width: 100%;
    z-index: 100; }
  .Header__left-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #738396;
    height: 100%;
    z-index: 100; }
  .Header__list {
    position: absolute;
    top: 4rem;
    right: 11rem;
    display: flex;
    opacity: 0;
    color: #dadada;
    font-size: 2.4rem;
    font-family: "Futura, sans-serif";
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Quattrocento', serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Gentium Basic', serif;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Cutive', serif;
    font-family: 'Londrina Outline', cursive;
    font-family: 'Frijole', cursive;
    font-family: 'Junge', serif;
    font-family: 'Cormorant SC', serif;
    font-family: 'Italianno', cursive;
    transform: rotate(-2.4deg);
    font-stretch: condensed;
    font-weight: bold; }
  .Header__item {
    margin-left: 2.8rem; }
    .Header__item a {
      color: #DADADA;
      text-decoration: none; }
  .Header__title {
    position: absolute;
    top: 40rem;
    left: 30rem;
    transform: rotate(-4deg);
    transform-origin: left;
    font-weight: bold; }
    .Header__title span {
      font-size: 5vw;
      font-family: 'Gentium Basic', serif;
      font-family: 'Italianno', cursive;
      font-family: 'Cutive', serif;
      font-family: 'IM Fell English', serif;
      font-family: 'Londrina Outline', cursive;
      font-family: 'Frijole', cursive;
      font-family: 'Junge', serif;
      font-family: 'Nanum Myeongjo', serif;
      font-family: 'Quattrocento', serif;
      font-family: 'IBM Plex Serif', serif;
      font-family: 'IM Fell English SC', serif;
      font-family: 'Cormorant SC', serif;
      font-family: 'Fredericka the Great', cursive; }
  .Header__arrow {
    opacity: 0;
    position: absolute;
    font-size: 3vw;
    margin-left: -1.5vw;
    top: 80%;
    left: 50%;
    animation: huwahuwa 2s infinite alternate linear; }
    .Header__arrow a {
      display: block;
      cursor: pointer; }
    .Header__arrow i {
      color: #738396; }

@keyframes huwahuwa {
  0% {
    top: 80%; }
  50% {
    top: 81%; }
  100% {
    top: 80%; } }

/*# sourceMappingURL=header.css.map */
