.Works {
  &__head {
    font-size: 6.4rem;
    font-family: "Futura, sans-serif";
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Quattrocento', serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Gentium Basic', serif;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Londrina Outline', cursive;
    font-family: 'Frijole', cursive;
    font-family: 'Junge', serif;
    font-family: 'Cormorant SC', serif;
    font-family: 'Cutive', serif;
    ::after {

    }
  }
  .hoge {
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  &__img-wrapper {
    transition: transform .5s
  }
  &__img {
    z-index: 1;
    width: 40vw;
    height: 0;
    padding-top: 62.5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .is-active &::after {
      opacity: 1;
      transform: translateX(20px) translateY(20px);
    }
    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      -webkit-transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1), transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1), transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-transform: translateX(0px) translateY(0px);
      -ms-transform: translateX(0px) translateY(0px);
      transform: translateX(0px) translateY(0px);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
  &__img--coderdocs {
    background-image: url('../images/code_docs.png');
    &::after {
      background-image: linear-gradient(to right, #fbbd9b 0%, #f3aa82 100%);
    }
  }
  &__img--annotate {
    background-image: url('../images/annotating-bar.png');
    &::after {
      background-image: linear-gradient(to right, #525252 0%, #9d9d9d 100%);
    }
  }
  &__img--andante {
    background-image: url('../images/anndante.png');
    &::after {
      background-image: linear-gradient(to right, #3d484e 0%, #163043 100%);
    }
  }
  &__lead {
    font-weight: bold;
    font-size: 2.4rem;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8rem;
  }

  &__content2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8rem;
  }

  &__content3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .reverse .hoge {
    transform: translateX(-8rem);
  }
}
