@import "mixins";

/*------------------------------------*\
Footer
\------------------------------------*/
.Footer{
  text-align: center;
  &__copy{
    color: #000;
    padding: 1rem 0;
    font-size: 1.4rem;
  }
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    padding: 0 4rem;
    color: #000000;
    @include sp {
      padding: 0 1rem;
    }
  }
}
