@import "mixins";

/*------------------------------------*\
Footer
\------------------------------------*/
footer {
  color: #000;
  overflow: hidden;
  padding: 1rem 0;
  text-align: center;
  small{
    font-size: 1.4rem;
    font-family: 'Muli', sans-serif;
    letter-spacing: 0;
  }
}

.footer_ul {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.footer_ul li {
  padding: 0 4rem;
  color: #000000;
  @include sp {
    padding: 0 1rem;
  }
}

