@import "mixins";

/*------------------------------------*\
Skill
\------------------------------------*/
.Skill {
  margin-bottom: 8rem;
  &__wrapper {
    display: flex;
    margin-bottom: 4.8rem;
    align-items: flex-start;
    @include sp {
      flex-wrap: wrap;
      text-align: center;
    }
  }
  &__nubmer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__detail {
    margin-left: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    @include sp {
      margin-left: 0;
      padding: 2rem 0;
    }
  }
  &__head {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 3rem;
    color: #86b7f2;
  }
  &__body {

  }
  &__img {
    @include sp {
      text-align: center;
      margin: 0 auto;
      transform: translateX(-10%);
    }
  }
}

.Skill__number {
  position: absolute;
  top: 12%;
  left: 45%;
  font-size: 8.8rem;
  color: #86b7f2;
  font-family: Pr6n-r;
}

.skill-img {
  background-image: url(../images/no-number.png);
  background-size: cover;
  height: 16rem;
  width: 19rem;
  position: relative;

}

